#autoshare_metabox p::before {
	display: inline-block;
	margin-left: -1px;
	padding-right: 3px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#autoshare_metabox pre {
	font-size: 11px;
	white-space: normal;
}

.autoshare-prepublish__checkbox .components-base-control__field, .autoshare-prepublish__checkbox-label { 
	display: flex;
	align-items: center;
}

.autoshare-prepublish__checkbox .components-base-control__field {
	margin-top: 0.5rem;
}

.autoshare-prepublish__checkbox-label svg {
	margin-right: 0.5rem;
}

.autoshare-prepublish__message-label {
	display: flex;
	justify-content: space-between;
}

.autoshare-prepublish__checkbox-row input[type=checkbox].components-checkbox-control__input {
	margin-right: 0.5rem;
}

.autoshare-prepublish__override-row {
	padding: 0.5rem 0;
}

.autoshare-prepublish__override-row .components-button {
	margin-bottom: 1rem;
}

.autoshare-post-status {
	font-style: italic;
}

.autoshare-post-status svg {
	transform: translate3d(0, 3px, 0);
    margin-right: 5px;
}

#autoshare-icon.pending,
.autoshare-prepublish__checkbox-row .dashicons-twitter.pending {
	animation: fadeIn 1s infinite alternate;
	color: #00aced;
}

#autoshare-icon.enabled,
.autoshare-prepublish__checkbox-row .dashicons-twitter.enabled {
	color: #00aced;
}

#autoshare-icon.disabled,
.autoshare-prepublish__checkbox-row .dashicons-twitter.disabled {
	color: #72777c;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		color: #72777c;
	}
}

a#autoshare-edit {
	color: #0073aa;
	text-decoration: underline;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out
}

#autoshare-override-body {
	margin: 4px 0;
}

textarea#autoshare-text {
	margin: 4px 0 0;
	width: 100%
}
span#autoshare-counter-wrap {
	background: rgba(0, 0, 0, 0.07);
	font-family: Consolas, Monaco, monospace;
}

span.near-limit {
	color: darkorange;
}

span.over-limit {
	color: red;
}
