#autoshare_for_twitter_metabox p::before {
	display: inline-block;
	margin-left: -1px;
	padding-right: 3px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#autoshare_for_twitter_metabox pre {
	font-size: 11px;
	white-space: normal;
	margin: 0px;
}

.autoshare-for-twitter-toggle-control {
	margin-top: 0.5rem;
}

.autoshare-for-twitter-prepublish__override-row {
	padding: 0.5rem 0;
}

.autoshare-for-twitter-prepublish__override-row .components-button {
	margin-top: 0.5rem;
}

.autoshare-for-twitter-post-status .autoshare-for-twitter-log{
	font-style: italic;
}

.autoshare-for-twitter-post-status svg {
	margin-right: 4px;
}

#autoshare-for-twitter-icon.pending,
.autoshare-for-twitter-prepublish__checkbox-row .dashicons-twitter.pending {
	animation: fadeIn 1s infinite alternate;
	color: #00aced;
}

#autoshare-for-twitter-icon.enabled,
.autoshare-for-twitter-prepublish__checkbox-row .dashicons-twitter.enabled {
	color: #00aced;
}

#autoshare-for-twitter-icon.disabled,
.autoshare-for-twitter-prepublish__checkbox-row .dashicons-twitter.disabled {
	color: #72777c;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		color: #72777c;
	}
}

a#autoshare-for-twitter-edit {
	color: #0073aa;
	text-decoration: underline;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out
}

#autoshare-for-twitter-override-body {
	margin: 4px 0;
}

textarea#autoshare-for-twitter-text {
	margin: 4px 0 0;
	width: 100%
}
span#autoshare-for-twitter-counter-wrap {
	font-family: Consolas, Monaco, monospace;
}

span.near-limit {
	color: darkorange;
}

span.over-limit {
	color: red;
}

/* Styling for post columns */
.fixed .column-is_tweeted {
	width: 50px;
	vertical-align: top;
}

.fixed .column-is_tweeted a {
	padding: 0;
}

.fixed .column-is_tweeted a:focus {
	box-shadow: unset;
}

.autoshare-for-twitter-status-logo::before {
	background-image: url('../images/x_default.svg');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	content: ' ';
	display: block;
	height: 24px;
	width: 24px;
}

tbody .autoshare-for-twitter-status-logo--published::before {
	background-image: url('../images/x_tweeted.svg');
}

tbody .autoshare-for-twitter-status-logo--error::before {
	background-image: url('../images/x_failed.svg');
}

tbody .autoshare-for-twitter-status-logo--enabled::before {
	background-image: url('../images/x_enabled.svg');
}

tbody .autoshare-for-twitter-status-logo--disabled::before {
	background-image: url('../images/x_disabled.svg');
}

.autoshare-for-twitter-pre-publish-panel svg.components-panel__icon,
.autoshare-for-twitter-editor-panel svg.components-panel__icon{
	width: 24px;
	height: 24px;
}

.autoshare-for-twitter-log {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
}

.autoshare-for-twitter-log svg {
	max-width: 20px;
	min-width: 20px;
	height: auto;
}


#autoshare_for_twitter_metabox .autoshare-for-twitter-status-icon::before {
	background-image: url('../images/x_default.svg');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	content: ' ';
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: top;
	margin-right: 5px;
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-status-icon--published::before {
	background-image: url('../images/x_tweeted.svg');
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-status-icon--error::before {
	background-image: url('../images/x_failed.svg');
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-status-icon--enabled::before {
	background-image: url('../images/x_enabled.svg');
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-status-icon--disabled::before {
	background-image: url('../images/x_disabled.svg');
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-status-log-data {
	display: inline-block;
	max-width: 85%;
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-status-wrap {
	margin-bottom: 8px;
}

#autoshare_for_twitter_metabox .tweet-now-button{
	text-decoration: none;
	padding: 5px 12px 5px 0px;
	font-weight: bold;
	box-shadow: none;
	outline: 0px;
	background-color: #fff;
}

#autoshare_for_twitter_metabox .tweet-now-button span.dashicons {
	vertical-align: bottom;
	font-size: 16px;
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-tweet-now-wrapper label.autoshare-for-twitter-enable-wrap {
	display: none;
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-tweet-now-wrapper a.cancel-tweet-text {
	display: none;
}

#autoshare_for_twitter_metabox p#autoshare-for-twitter-error-message {
	color: red;
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-tweet-now-wrapper span.spinner {
	float: none;
}

#autoshare_for_twitter_metabox span#autoshare-for-twitter-counter-wrap {
	font-size: 12px;
}

.autoshare-for-twitter-editor-panel .autoshare-for-twitter-tweet-text label {
	width: 100%;
}

.autoshare-settings .twitter-account-profile-image {
	float:left;
	margin-right: 10px;
	border-radius: 50%;
	max-width: 48px;
}

.autoshare-for-twitter-accounts-wrapper {
	margin-top: 24px;
}

#autoshare_for_twitter_metabox .autoshare-for-twitter-accounts-wrapper {
	margin-top: 12px;
}

.autoshare-for-twitter-accounts-wrapper .twitter-account-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 8px;
}

.autoshare-for-twitter-accounts-wrapper .twitter-account-wrapper img {
	max-width: 36px;
	max-height: 36px;
	border-radius: 50%;
}

.autoshare-for-twitter-accounts-wrapper .twitter-account-wrapper span.account-details {
	padding-left: 8px;
	padding-right: 8px;
}

#autoshare_for_twitter_metabox .twitter-account-wrapper input.autoshare-for-twitter-account-checkbox{
	margin-left: auto;
}

.autoshare-for-twitter-accounts-wrapper .twitter-account-wrapper .autoshare-for-twitter-account-toggle {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
}

.autoshare-for-twitter-accounts-wrapper .twitter-account-wrapper span.connect-account-link {
	margin-top: 12px;
	display: block;
}
