.autoshare-settings .brand {
	display: none;
}

.autoshare-settings .brand .logo img {
	width: 120px;
	max-width: 100%;
}

.autoshare-settings .brand nav a {
	display: block;
	text-decoration: none;
}

.autoshare-settings .brand nav a span {
	font-size: inherit;
	line-height: inherit;
	vertical-align: unset;
}

.autoshare-settings .general-settings:not(.connected),
.autoshare-settings .general-settings:not(.connected) + table {
	display: none;
}

.autoshare-settings .enable-for td {
	padding-bottom: 5px;
}

.autoshare-settings .post-types td {
	padding-top: 0;
	padding-left: 40px;
}

.autoshare-settings .credentials-setup ul {
	list-style: disc;
	padding-left: 25px;
}

.autoshare-settings .credentials-actions a {
	text-decoration: none;
}

.autoshare-settings .credentials-actions span {
	font-size: inherit;
	line-height: 1.5;
}

.autoshare-settings .credentials-setup:not(.connected) .open {
	display: none;
}

.autoshare-settings .credentials-setup.connected .close,
.autoshare-settings .credentials-setup.connected .credentials-instructions,
.autoshare-settings .credentials-setup.connected + table {
	display: none;
}

.autoshare-settings p.copy-container {
    position: relative;
    border: 2px #ccc solid;
    padding: 10px;
    padding-right: 36px;
    font-family: monospace;
    font-weight: bold;
}

.autoshare-settings p.copy-container a {
	position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #ccc;
    padding: 8px;
    font-weight: 100;
	text-decoration: none;
	color: inherit;
}

.autoshare-settings p.copy-container a:hover {
	background: #bbb;
}

.autoshare-settings table.twitter_accounts th#autoshare_accounts {
	max-width: 160px;
}

.autoshare-settings table.twitter_accounts th#action {
	max-width: 140px;
}

@media (min-width: 1024px) {
	.autoshare-settings {
		display: flex;
	}

	.autoshare-settings .settings-wrapper {
		width: 70%;
		margin-right: 50px;
	}

	.autoshare-settings .brand {
		display: block;
	}

}

.autoshare-settings table.form-table tr th[scope="row"] {
	min-width: 140px;
}

.autoshare-settings table.twitter_accounts th,
.autoshare-settings table.twitter_accounts td {
    padding: 8px 10px;
}

@media (min-width: 1200px) {
	.autoshare-settings .settings-wrapper {
		width: 60%;
		margin-right: 10%;
	}
}
